<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".application.BaseApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/applogo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/applogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.BollyHood"
        android:usesCleartextTraffic="true"
        tools:targetApi="31" >
        <activity
            android:name=".activity.BookmarkProfilesActivity"
            android:exported="false" />
        <activity
            android:name=".activity.BookMarkListActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ShootingLocationDetails"
            android:exported="false" />
        <activity
            android:name=".activity.KycActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Upload_CastingCall"
            android:exported="false" />
        <activity
            android:name=".activity.CastingBookMarkDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ChatActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CastingBookMarkActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AgencyDetailsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CastingCallDetailsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AllAgencyActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CastingApplyActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CastingDetailsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CastingCallsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BookRequestActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PaymentSuccessActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CMSActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.YoutubeActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SubscriptionPlanActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AllExpertiseProfileActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BookingDetailActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyBookMarkActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ProfileDetailActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AllCategoryActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyProfileActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChangePasswordActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ResetPasswordActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ForgotOtpActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ForgotPasswordActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SendOtpActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SignupActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".util.DownloadReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/applogo" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/grey" />

        <service
            android:name=".fcm.FirebaseService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_BXsStmq1yc7yro" />
    </application>

</manifest>